.search {
  margin: 0 10px 50px;
}

.search input {
  border: 2px dashed var(--color-OrangeSoda);
  padding: 10px;
  width: 250px;
  font-size: 0.9rem;
  color: var(--color-OrangeSoda);
  border-radius: 10px;
  margin-right: 10px;
}

.search input:focus {
  outline: none;
}

.search button {
  padding: 10px;
  font-size: 1rem;
  background-color: var(--color-OrangeSoda);
  color: var(--color-White);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .search input {
    width: 88%;
    padding: 8px;
    font-size: 0.8rem;
  }
  .search button {
    padding: 9px;
    font-size: 0.8rem;
  }
}
