.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-OrangeSoda);
  color: var(--color-White);
  border-radius: 10px;
  margin: 0 10px 60px;
  padding: 10px 20px;
}

.header a {
  font-size: 1.5rem;
  font-weight: 600;
}

.header div {
  font-size: 1.6rem;
  background-color: var(--color-White);
  text-align: center;
  color: var(--color-OrangeSoda);
  height: 35px;
  width: 35px;
  border-radius: 9px;
  padding: 2px;
  position: relative;
}

.header span {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: var(--color-Black);
  color: var(--color-White);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.footer {
  text-align: center;
  background-color: var(--color-OrangeSoda);
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
  border-radius: 10px;
}

.footer a {
  color: var(--color-White);
  font-weight: 600;
  margin-left: 5px;
}

@media (max-width: 425px) {
  .header {
    padding: 8px;
    margin-bottom: 40px;
  }
  .header a {
    font-size: 1rem;
  }
  .header div {
    font-size: 1rem;
    background-color: var(--color-White);
    text-align: center;
    color: var(--color-OrangeSoda);
    height: 25px;
    width: 25px;
    border-radius: 9px;
    padding: 2px;
    position: relative;
  }
  .header span {
    font-size: 0.5rem;
    width: 13px;
    height: 13px;
    line-height: 13px;
    top: -5px;
    right: -5px;
  }
  .footer {
    padding: 8px;
    font-size: 10px;
  }
}
